<div>
  <section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <form *ngIf="signInUp" [formGroup]="loginForm" (ngSubmit)="login()">
                <h1 class="mb-5">Sign In</h1>

                <div class="form-outline mb-4">
                  <input type="email" id="typeEmailX-2" class="form-control form-control-lg" formControlName="email" />
                  <label class="form-label" for="typeEmailX-2">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="typePasswordX-2" class="form-control form-control-lg"
                    formControlName="password" />
                  <label class="form-label" for="typePasswordX-2">Password</label>
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit"
                  [disabled]="loginForm.invalid">Login</button>
                <div>New to Shopping Mart? <a (click)="toggleLoginForm()" style="color: rgb(6, 159, 220)">sing up an
                    account</a></div>

                <hr class="my-4">

                <p *ngIf='errorMessage' class="text-danger">{{errorMessage}}</p>

              </form>

              <!-- <form *ngIf="signInUp" (submit)="login()" ngNativeValidate>
                <h1 class="mb-5">Sign In</h1>

                <div class="form-outline mb-4">
                  <input type="email" id="typeEmailX-2" class="form-control form-control-lg"
                    required />
                  <label class="form-label" for="typeEmailX-2">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="typePasswordX-2" class="form-control form-control-lg"
                    required />
                  <label class="form-label" for="typePasswordX-2">Password</label>
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                <div>New to Shopping Mart? <a (click)="toggleLoginForm()" style="color: rgb(6, 159, 220)">sing up an
                    account</a></div>

                <hr class="my-4">
              </form> -->



              <form *ngIf="!signInUp" [formGroup]="signupForm" (ngSubmit)="register()">
                <h1 class="mb-5">Sign up</h1>

                <div class="form-outline mb-4">
                  <label class="form-label" for="typeEmailX-2">Email</label>
                  <input type="email" id="typeEmailX-2" class="form-control form-control-lg" name="email"
                    formControlName="email" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="typePasswordX-2">Password</label>
                  <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="password"
                    formControlName="password" />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="typePasswordX-2">Password</label>
                  <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="password2"
                  minlength="6" formControlName="confirmPassword" />
                </div>

                <p *ngIf='errorMessage'   class="text-danger">{{errorMessage}}</p>

                <!-- <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button> -->
                <button class="btn btn-primary btn-lg btn-block" type="submit" minlength="6"
                  [disabled]="signupForm.invalid || signupForm.value.password !== signupForm.value.confirmPassword">Sign
                  up</button>
                <div>Already have a account? <a (click)="toggleLoginForm()" style="color: rgb(6, 159, 220)">sign In</a></div>

                <hr class="my-4">

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
