
<div class="addToCartData" *ngIf="products.length !== 0">
  <div>
    <ul class="add-to-cart" *ngFor="let item of products">
      <img [src]="item.img" alt="Found Image" class="addToCartImg">

      <li>
        <h3>Title : {{item.title}}</h3>
        <p>description : {{item.description}}</p>
        <h3>Price : {{item.price}} </h3>
        <input type="number" min="1" placeholder="Qty" (change)="onChangeQuantity($event,item)"><br><br>
        <select>
          <option selected>Size : </option>
          <option value="1">S</option>
          <option value="2">M</option>
          <option value="3">L</option>
          <option value="3">XL</option>
          <option value="3">XXL</option>
        </select>
      </li>
      <li>
        <button type="button" (click)="removeHandler(item.cartId)" class="btn btn-danger"><mat-icon>close</mat-icon></button>
      </li>

    </ul>

  </div>


  <div class="priceDetail">
    <h2 style="text-align: center">Price Details</h2>
    <hr>
    <div class="calculation">
    <p><mat-icon>loyalty</mat-icon> Apply Coupan</p>
    <button class="apply">APPLY</button>
    </div>
    <hr>
    <div class="calculation">
    <div>
      <p>Total MRP </p>
      <p>Coupon Discount </p>
      <p>Discount om MRP</p>
      <p>Convenience fee </p>
    </div>
    <div>
      <p>{{totalPrice}}</p>
      <p>Apply Coupon</p>
      <p>-200</p>
      <p>Free</p>
    </div>
    </div>
    <hr>
    <div class="calculation">
      <h2>Total Amount:</h2>
      <h2>{{totalPrice - 200}}</h2>
    </div>
    <hr>
    <nav>
    <button class="btn btn-danger placeOrder" [routerLink]="['address']">Place Order</button>
    </nav>
    
</div>
</div>




<div *ngIf="products.length === 0">
  <div class="site">
    <div class="sketch">
      <div class="bee-sketch red"></div>
      <div class="bee-sketch blue"></div>
    </div>
  
  <h1>#
    <small>YOUR WISHLIST IS EMPTY</small><br>
    <h3>Add items that you like to your wishlist. Review them anytime and easily move them to the bag.</h3></h1>
    
  </div>
</div>  










